body {
    background: url(images/bg1.jpg);
    background-attachment:fixed;
    background-size: cover;
    height: 100%;
}
p,h1,h2,h5, h6, input, option, select{
    font-family: 'Press Start 2P', cursive;
    color: green;
}